* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Para saltos suaves */
}

/* Inicio del Header */

header {
    display: flex;
    background-color: #64beca;
    min-height: 70px;    /* alto minimo */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    
}

.navegation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 12px;
}

.logo:hover img{
    transform: translateY(-5px);
    filter: drop-shadow(0 0 5px);/*Se utiliza para aplicar una sombra paralela a la forma de un elemento */
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    font-weight: 600;
    padding-right: 10px;
   }

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;

}

nav ul li a:hover {
    color: aliceblue;
    background-color: rgb(70, 214, 240);
    padding: 5px 10px;
    border-radius: 5px;

}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;

}


@media (max-width: 680px) {

    /* Para realizar cambios de tamaños y condicones en las diferentes pantallas */
    header {
        flex-direction: column;
    }

    .navegation{
        padding: 10px 0;
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }

    nav {
        padding: 10px 0;
    }

   
}

.material-icon {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
   
}


.search-bar {
    border: solid 2px #262f30;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 10px auto;
    
}

.search-bar:focus-within {
    border: solid 2px #31352d;
    box-shadow: 0px 2px 5px rgb(8, 14, 15);
}

.search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    flex: auto;
    background: none;
    color: #fff;
}

.search-bar .actions {
    display: flex;
    gap: 5px;
}

.search-bar .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #141818;
}

.search-bar .actions button:hover {
    color: #fff;
}
/* Fin del Header */




/* Sección de Nosotros */

.nosotros {
    padding: 10px;
    background-image: url('../img/Gatos.jpg');
    background-size: cover;/* Cubre todo el espacio del contenedor */
    background-repeat: no-repeat;/* Evita que la imagen se repita */
    background-position: center;/* Centra la imagen en el fondo */
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;/*Agregar un fondo semitransparente para mejorar la legibilidad del texto sobre la imagen */
    padding: 20px;
}

.content {
    margin-top: 50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;/* para que ocupen el mismo tamaño */
    min-width: 200px;
    margin: 10px;
    text-align: center;

}

.content .text {
    width: 100%;
    max-width: 600px;
}

.content .text h2 {
    font-size: 2em;/*Para modificar texto, el estandar es 1em */
    font-weight: 300;
    line-height: 1.1em;
    margin: 20px 0;
    color: #fff;
}

.content .text h2 span {
    font-weight: 900;
    color: chartreuse;
}

.content .text .btn {
    position: relative;
    display: inline-block;
    padding: 20px 50px;
    background: #26d0d6;
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.25s;
}

.content .text .btn:hover {
    letter-spacing: 2px;
}

.caja img {
    max-width: 100%;
    height: auto;
    display: block; /* Cambiado a block para que ocupe todo el ancho disponible */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.container .caja:hover img {
    transform: translateY(-5px);
    filter: drop-shadow(0 0 10px); /*Se utiliza para aplicar una sombra paralela a la forma de un elemento */
    cursor: pointer;
}

/* Fin Nosotros */


/* Inicio Sección Servicios */
.servicios {
    padding: 20px;
    background-color: #64beca;
    margin-bottom: 10px;
    
}

.servicios h2 {
    text-align: center;
    margin-bottom: 20px;
}

.servicios .container {
    display: flex;/* Utilizar flexbox para organizar las tarjetas */
    flex-wrap: wrap;/* Permitir que las tarjetas pasen a la siguiente línea en pantallas pequeñas */
    justify-content: space-around;
    padding: 20px;
}

.card {
    min-width: 200px;
    background-color: #387a7c;
    border-radius: 10px;
    box-shadow: 0 4px 8px #26d0d6;
    overflow: hidden;
    width: calc(50% - 20px);/* Dos tarjetas por fila en pantallas medianas y grandes, con margen */
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;/* Añadir espacio entre las filas de tarjetas */
    display: flex;
    flex-direction: column;
    align-items: center;/* Centrar el contenido horizontalmente dentro de la tarjeta */
}


@media (min-width: 768px) {
    .card {
        width: calc(25% - 20px);/* Cuatro tarjetas por fila con margen */
        margin: 10px;/* Ajustar el margen para separar las tarjetas */
    }

    .servicios .container {
        padding: 20px;/* Ajustar el padding del contenedor para pantallas más grandes */
    }
}


.card h3 {
    margin-bottom: 10px;/* Añadir espacio entre el H3 y la imagen */
    order: 0;/* Asegurar que el H3 esté antes de la imagen en el flujo visual */
    font-size: 25px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;/* Añadir espacio entre la imagen y el párrafo */
    order: 1;/* Asegurar que la imagen esté después del H3 */
    
}

.card p {
    order: 2;/* Asegurar que el párrafo esté después de la imagen */
}


.container .card .btn {
    position: relative;
    display: inline-block;
    padding: 20px 50px;
    background: #26d0d6;
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.25s;
    order: 3;
    margin: 10px;
}

.container .card .btn:hover {
    letter-spacing: 2px;
}

/* Fin de Servicios */



/* Inicio Galeria */
.galeria {
    padding: 20px;
    background-color:#64beca;
    overflow: hidden;
    margin-bottom: 20px;
}

.galeria h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.galeria .gallery {
    display: flex;
    gap: 15px;
    width: max-content;/* Asegura que la galería crezca lo que necesite */
    animation: scrollGallery 30s linear infinite;
}

.galeria .gallery:hover {
    animation-play-state: paused; /* Se detiene cuando pasas el cursor */
}

@keyframes scrollGallery {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.imagen {
    flex: 0 0 auto;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen:hover {
    transform: scale(1.08); /* Hace que "salte" hacia afuera */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Fin Galeria */




/* Inicio Contaco */
.contacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    background-color: #64beca;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;

}
/* Fin Contacto */



/* Inicio Formulario */
.formulario {
    width: 48%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 5px auto;

}

.formulario label {
    font-weight: bold;
    margin-top: 10px;
}

.formulario input, .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    margin-top: 15px;
    padding: 10px;
    background-color:#14585a;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #578a84;
}

/* Fin Formulario */



/* Inicio Mapa */
.mapa {
    width: 40%;
    height: 60vh;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    min-width: 400px;
    margin: 5px auto;
}

/* Fin Mapa */

/* Footer */

footer {
    display: flex;
    background-color: #64beca;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: rgb(216, 87, 54)
}

.footer-logo img {
    width: 70px;
    height: auto;
        
}

.footer-links {
    text-align: center;
    flex: 1;/* Elementos queden con el mismo tamaño */
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;

}

.footer-links a:hover {
    text-decoration: underline;
    /* La linea debado del texto */
}

.footer-social {
    display: flex;
    gap: 15px;

}

.footer-social a {
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;

}

.footer-bottom {
    text-align: center;
    background-color: rgb(19, 157, 167);
    color: aliceblue;
    padding: 10px;
    font-size: large;
}

.footer-logo:hover img {
    transform: translateY(-5px);
    filter: drop-shadow(0 0 5px);/*Se utiliza para aplicar una sombra paralela a la forma de un elemento */
    cursor: pointer;
}